.app.dark {
  --bg-color: #000c8f;
  --inverted-bg-color: #dadada;
  --primary-color: #006911;
  --secondary-color: #033400;
  --inverted-primary-color: #002a69;
  --inverted-secondary-color: #0061d0;
}
